*{
    background-color: rgb(215, 215, 215);
}
.main{
    margin:auto auto;
    border:5px inset gold;
    box-shadow: 0px 0px 10px 4px rgb(103, 103, 103);
    width:30rem;
    height:30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}
.main:hover{
    border:3px inset silver;
    box-shadow: 0px 0px 10px 2px gold;
}
#heart{
    font-size: 10rem;
    border:none;
    background: none;
    cursor: pointer;

}
#heart:hover{
    font-size: 15rem;
    transition: all 4s ease 0s;
}
#counting{
    color:red;
    font-size:1.5rem;
    background-color: white;
    
}

#countingValue{
    font-size: 2rem;
    text-shadow: 0px 0px 4px gold;
    background-color: white;
}
 